.mod-banner-internal {
  .banner-overlay {
    &::after {
      content: "";
      mix-blend-mode: multiply;
      background-blend-mode: multiply;
      background-image: linear-gradient(to bottom, #666, #666);
      @apply inset-0 h-full w-full absolute;
    }
  }
  .banner-overlay-2 {
    opacity: 0.4;
    mix-blend-mode: multiply;
    background-blend-mode: multiply;
    background-image: linear-gradient(to bottom, #2b2b2b, #2b2b2b);
  }
}
